<a href="https://colab.research.google.com/github/PamelaRosa23/projeto-bd-colab/blob/main/C%C3%B3pia_de_Projeto_BD_SQLite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
print("SQLite pronto para uso!")

SQLite pronto para uso!

In [ ]:
import sqlite3

# Criar conexão com SQLite (arquivo ou memória)
conexao = sqlite3.connect("sistema_escolar.db")  # Para salvar em arquivo
# conexao = sqlite3.connect(":memory:")  # Para usar em memória (temporário)

# Criar um cursor para executar comandos SQL
cursor = conexao.cursor()

print("Banco de dados conectado com sucesso!")

Banco de dados conectado com sucesso!

In [ ]:
# Criar tabelas
cursor.execute("""
CREATE TABLE IF NOT EXISTS Alunos (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL,
    idade INTEGER,
    turma TEXT
);
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS Professores (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL,
    disciplina TEXT NOT NULL
);
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS Matriculas (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    aluno_id INTEGER,
    professor_id INTEGER,
    FOREIGN KEY (aluno_id) REFERENCES Alunos(id),
    FOREIGN KEY (professor_id) REFERENCES Professores(id)
);
""")

# Confirmar as mudanças
conexao.commit()

print("Tabelas criadas com sucesso!")

Tabelas criadas com sucesso!

In [ ]:
# Inserir alunos
cursor.executemany("""
INSERT INTO Alunos (nome, idade, turma) VALUES (?, ?, ?)
""", [
    ("Ana Souza", 14, "9A"),
    ("Carlos Silva", 15, "9B"),
    ("Mariana Costa", 13, "8A")
])

# Inserir professores
cursor.executemany("""
INSERT INTO Professores (nome, disciplina) VALUES (?, ?)
""", [
    ("Professor João", "Matemática"),
    ("Professora Maria", "História")
])

# Inserir matrículas (relacionamento entre alunos e professores)
cursor.executemany("""
INSERT INTO Matriculas (aluno_id, professor_id) VALUES (?, ?)
""", [
    (1, 1),  # Ana matriculada com João
    (2, 1),  # Carlos matriculado com João
    (3, 2)   # Mariana matriculada com Maria
])

# Confirmar as mudanças
conexao.commit()

print("Dados inseridos com sucesso!")

Dados inseridos com sucesso!

In [ ]:
cursor.execute("SELECT * FROM Alunos")
alunos = cursor.fetchall()
print("Lista de Alunos:")
for aluno in alunos:
    print(aluno)

Lista de Alunos:
(1, 'Ana Souza', 14, '9A')
(2, 'Carlos Silva', 15, '9B')
(3, 'Mariana Costa', 13, '8A')

In [ ]:
cursor.execute("""
SELECT Alunos.nome, Professores.nome, Professores.disciplina
FROM Matriculas
JOIN Alunos ON Matriculas.aluno_id = Alunos.id
JOIN Professores ON Matriculas.professor_id = Professores.id
""")
matriculas = cursor.fetchall()

print("\nMatrículas:")
for mat in matriculas:
    print(f"Aluno: {mat[0]}, Professor: {mat[1]}, Disciplina: {mat[2]}")

Matrículas:
Aluno: Ana Souza, Professor: Professor João, Disciplina: Matemática
Aluno: Carlos Silva, Professor: Professor João, Disciplina: Matemática
Aluno: Mariana Costa, Professor: Professora Maria, Disciplina: História

In [ ]:
# Fechar a conexão
conexao.close()
print("Conexão fechada.")

Conexão fechada.